*{
    margin: 0; padding: 0;
}

.header{
    background-color: rgb(255, 255, 255);
    height: 100px;
}

.headcontent{
    float: left;
}
.heading{
    float: left;
}

#logo{
    margin-left: 250px;
}
#call{
    margin-left: 250px;
    margin-top: 25px;
}
.headsupport{
    margin-left: 15px;
    line-height: 1.5;
    color: rgb(35, 35, 35);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
} 
.support{
    margin-top: 22px;
}

.headsupport:hover{
    text-decoration: underline;
    color: rgb(0, 56, 222);
}

#search{
    border-radius: 20px;
    border-color: white;
    margin-left: 300px;
    margin-top: 26px;
    padding: 10px;
    font-size: 15px;
    width: 300px;
}

.navigation{
    position: relative;
    padding-top: 10px;
    margin-top: 15px;
    clear: both;
    border: 1px solid black;
    height: 40px;

    background-color: rgb(0, 94, 131);
}
.nvbar{
    float: left;
    margin-left: 80px;
    text-decoration: none;
    color: white;
}

.menu{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    text-decoration: none;

}

#signin{
    color: black;
    background-color: yellow;
    font-size: 15px;
    padding: 10px;
    position: absolute;
    left: 1000px;
    top: 6px;
    border-radius: 15px;
}
#myaccount{
    color: black;
    position: absolute;
    left: 1100px;
    border-radius: 15px;
    top: 6px;
    font-size: 15px;
    padding: 10px;
    background-color: yellow;
}





.img{
    height: 500px;
    background-image: url('./book\ my\ trip/bg.jpg');
    position: relative;
}

.imgcont{
    position: absolute;
    top: 150px;
    left: 800px;
}

.imgcont2{
    position:absolute;
    top: 280px;
    left: 800px;
}

.book{
    position: absolute;
    top: 150px;
    left: 300px;
}

.imgcont3{
    position: absolute;
    top: 360px;
    left: 260px;
    background-color: rgb(0, 0, 0);
    text-align: center;
    padding: 5px;
    color: white;
    border-radius: 5px;
    width: 250px;
    
}





.imgcont4{
    position: absolute;
    top: 397px;
    left: 50px;
    background-color: rgb(255, 255, 255);
    border: 2px solid black;
    width: 1200px;
    height: 100px;
}




.option{
    float: left;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

#where{
    margin-left: 25px;
    margin-top: 10px;

}

#what{
    margin-top: 10px;
    margin-left: 145px;
}

#when{
    margin-top: 10px;
    margin-left:160px;
}

#who{
    margin-top: 10px;
    margin-left: 195px;
}

.option1{
    clear: both;
    
}

.input1{
    border-radius: 5px;
    border-color: white;
    border: 1px solid black;
        
}

#hotel{
    padding: 5px;
    clear: both;
    position: absolute;
    top: 45px;
    left: 25px;
}


#locationn{
    padding: 5px;
    clear: both;
    position: absolute;
    top:45px;
    left: 235px;
}

#date{
    padding: 5px;
    position: absolute;
    top: 45px;
    left: 450px;
}

#rooms{
    padding: 5px;
    width: 75px;
    position: absolute;
    top: 45px;
    left: 700px;
}

#adult{
    padding: 5px;
    position: absolute;
    width: 60px;
    top: 45px;
    left: 800px;
}

#children{
    position: absolute;
    width: 50px;
    top: 45px;
    padding: 5px;
    left: 890px;
}

#submit{
    position: absolute;
    width: 100px;
    top: 45px;
    left: 1000px;
    padding: 5px;
    background-color: red;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}

#submit:hover{
    background-color: white;
    color: red;
}



.content{
    background-color: rgb(228, 228, 228);
    position: relative;
    height: 750px;
    margin-left: 60px;
    width: 1400px;
    margin-top: 10px;

}

#Popularhotel{
    width: 200px;
    position: relative;
    top: 15px;
    left: 55px;

}

.box1{
    float: left;
    border: 1px solid black;
    width: 300px;
    height: 200px;
    border-radius: 5px;
    margin-top: 45px;
    margin-left: 110px;
    margin-bottom: 20px;
    padding: 5px;   
    position: relative;
    margin-bottom: 15px;
    background-color: white;
}


.b2{
    position: absolute;
    top: 165px;
}

.b3{
    position: absolute;
    top: 185px;
}

.b4{
    position: absolute;
    right: 10px;
    width: 100px;
    top: 165px;
    font-size: 20px;
    padding: 5px;
    border: 2px solid lightblue;
    background-color: rgb(16, 101, 219);
    color: white;
    border-radius: 15px;
}

.hotdeals{
    clear: both;
    position: relative;
    left: 115px;
    top: 40px;
    width: 100px;
}

.i1{
    float: left;
    margin-top: 60px;
    border-radius: 6005px;
}

#i1{
    margin-left: 170px;
}
#i2{
    margin-left: 50px;
}

.boxfooter{
    clear: both;
    border: 1px solid black;
    position: relative;
    margin-top: 320px;
    padding: 20px;
    margin-left: 150px;
    height: 15px;
    background-color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 1100px;
    
}
.g1{
    float: left;
}
#latest{
    margin-left: 100px;

}

#best{
    margin-left: 150px;
}

.footer{
    position: relative;
    color: grey;
    background-color: white;
}

.f1{
    position: absolute;
    top: 10px;
    left: 150px;
}
.f2{
    position: absolute;
    top: 10px;
    left: 450px;
}

.f3{
    position: absolute;
    top: 10px;
    left: 800px;
}

.f4{
    position: absolute;
    top: 10px;
    left: 1000px;
}

.f5{
    position: absolute;
    top: 50px;
    font-size: 15px;
    left: 150px;
}

.f6{
    position: absolute;
    top: 50px;
    left: 450px;
}

.f7{
    position: absolute;
    top: 80px;
    left: 150px;
}

.f8{
    position: absolute;
    top: 80px;
    left: 450px;
}

.f9{
    position: absolute;
    top: 110px;
    left: 150px;
}

.f10{
    position: absolute;
    top: 140px;
    left: 150px;
}

.f11{
    position: absolute;
    top: 50px;
    left: 790px;
}

.f12{
    position: absolute;
    top: 60px;
    left: 1000px;

}

#email{
    font-size: 15px;
    padding: 5px;

}

#subscribe{
    padding: 5px;
    font-size: 15px;
}